@page "/"
@rendermode InteractiveServer
@using AuthLaba1.Data
@using AuthLaba1.Models
@using AuthLaba1.Services
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<AppDbContext> ContextFactory
@inject NavigationManager Navigation
@inject UserSession UserSession

<PageTitle>Home</PageTitle>

<h1>Hello, User! @UserModel.Username</h1>
<h2>Enter your Private data for Log In. Trust me.</h2>
<h3> @errorMessage </h3>
<EditForm Model="@UserModel" OnSubmit="LogIn" FormName="LogIn">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label> UserName: </label>
        <InputText @bind-Value="UserModel.Username"></InputText>
        <ValidationMessage For="@(() => UserModel.Username)" />
    </div>
    <div>
        <label> Password </label>
        <InputText @bind-Value="UserModel.Password"></InputText>
        <ValidationMessage For="(() => UserModel.Password)" />
    </div>
    <button type="submit"> Log In </button>
</EditForm>

Welcome to your new app.

@code {
    private User UserModel = new();
    string errorMessage = "";


    private async Task LogIn()
    {
        var context = await ContextFactory.CreateDbContextAsync();
        var sessionUser = await (context.Users.Where(u => u.Username == UserModel.Username && u.Password == UserModel.Password).FirstOrDefaultAsync());
        if(sessionUser is not null)
        {
            UserSession.SetSession(sessionUser.Id, sessionUser.Username, sessionUser.UserType);
            string navLink = UserSession.Role == "Student" ? "/student" : "/teacher";
            Navigation.NavigateTo(navLink);
        }
        else
        {
            errorMessage = "Wrong username or password. Try again.";
        }
    }
}